<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav" id="side-menu">
      <li class="sidebar-search">
          <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                      <i class="fa fa-search"></i>
                  </button>
              </span>
          </div>
          <!-- /input-group -->
      </li>
      
      {% for item in current_menu.children recursive %}
      <li {% if item.active %}class="active"{% endif %}>
          <a href="{{ item.url }}">
            {%- if item.icon -%}<i class="fa {{item.icon}} fa-fw"></i> {% endif -%}
            {{ item.text }}
            {%- if item.children -%}<span class="fa arrow"></span>{% endif -%}</a>

        {%- if item.children %}
          <ul class="nav nav-second-level">
          {{ loop(item.children) }}
          </ul>
        {% endif %}
      </li>
      {%- endfor %}
      
    </ul>
  </div>
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->